<h2>Task: <%= @entry.title %></h2>

<p>
  Description: <%= @entry.description %>
</p>
<p>Owner: <%= @entry.owner %></p>
<p>
  <%= short_time(@entry) %>
</p>

<%= link_to("back", root_path) %>

<p>
  This is the show.html.erb page
</p>
